<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    #checklistDiv {
      display: none;
      margin-top: 20px;
    }

    #dashboardButton {
      border-bottom: 4px solid #2657caff;
      color: #2657caff;
    }

    #dashboardButton img {
      filter: brightness(0) saturate(100%) invert(34%) sepia(83%) saturate(749%)
        hue-rotate(203deg) brightness(91%) contrast(101%);
    }
  </style>
  <body>
    {% include 'components/header.html' %}
    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Checklist</th>
            <th>Pergunta</th>
            <th>Resultado</th>
            <th>Observações</th>
            <th>Data</th>
        </tr>

        {% for r in respostas %}
        <tr>
            <td>{{ r.id }}</td>
            <td>{{ r.auditoria_checklist.nome }}</td>
            <td>{{ r.pergunta.descricao }}</td>
            <td>{{ r.resultado }}</td>
            <td>{{ r.observacoes }}</td>
            <td>{{ r.auditoria_checklist.data }}</td>
        </tr>
        {% endfor %}
    </table>
  </body>
</html>
