<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
    
</body>
</html>
<header>
  <div class="headerTitle">
    <div class="HTitle">
      <img src="../static/images/checklistIcon.png" alt="" />
      <h1>Sistema de Auditoria</h1>
    </div>
  </div>
  <nav class="navBar">
    <a href="dashboard" class="navButton" id="dashboardButton">
      <img src="../static/images/dashboardIcon.png" alt="" />
      Dashboard
    </a>
    <a href="auditorias" class="navButton" id="auditoriasButton">
      <img src="../static/images/checklistIcon.png" alt="" />
      Auditorias
    </a>
    <a href="NCs" class="navButton" id="NCsButton">
      <img src="../static/images/alertIcon.png" alt="" />
      Não Conformidades
    </a>
  </nav>
</header>
