<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    #checklistDiv {
      display: none;
      margin-top: 20px;
    }

    #NCsButton {
      border-bottom: 4px solid #2657caff;
      color: #2657caff;
    }

    #NCsButton img {
      filter: brightness(0) saturate(100%) invert(34%) sepia(83%) saturate(749%)
        hue-rotate(203deg) brightness(91%) contrast(101%);
    }
  </style>
  <body>
    {% include 'header.html' %}
  </body>
</html>
